<div class="au-o-box au-o-flow au-o-flow">
  {{#if this.isLoading}}
    <AuLoader @padding="large" />
  {{else}}
    <section class="au-u-flex au-u-flex--between">
      <div>
        <AuHeading @level="1" @skin="1">
          Erkenning
          {{date-year
            this.currentRecognition.recognition.validityPeriod.startTime
          }}
          -
          {{date-year
            this.currentRecognition.recognition.validityPeriod.endTime
          }}</AuHeading>
        <AuHeading
          @level="3"
          @skin="3"
        >{{this.currentAssociation.association.name}}</AuHeading>
      </div>
      <div class="au-u-flex au-u-flex--center au-u-flex--vertical-center">
        <AuLink
          @skin="button-secondary"
          @icon="pencil"
          @model={{this.currentRecognition.recognition.id}}
          @route="association.recognition.edit"
        >
          Bewerk
        </AuLink>
        <AuDropdown
          @title="Acties"
          role="menu"
          @alignment="right"
          class="au-u-margin-left-small"
        >
          <AuButton
            @skin="link"
            @icon="bin"
            role="menuitem"
            @alert={{true}}
            {{on "click" this.toggleModal}}
          >
            Verwijder erkenning
          </AuButton>
        </AuDropdown>
      </div>
    </section>
    <section>
      <Recognition::OverviewCard
        @recognition={{this.currentRecognition.recognition}}
        @title="Erkenning"
      />
    </section>
  {{/if}}
  <AuModalContainer />
  <AuModal @modalOpen={{this.isModalOpen}} @closeModal={{this.toggleModal}}>
    <:title>Erkenning verwijderen</:title>
    <:body>
      <p>Weet je zeker dat de deze erkenning wilt verwijderen? Wanneer de
        erkenning is verwijderd, kan hij niet meer worden teruggehaald.</p>
    </:body>
    <:footer>
      <div class="au-u-flex au-u-flex--between">
        <AuButton
          @skin="secondary"
          {{on "click" this.toggleModal}}
        >Annuleer</AuButton>
        <AuButton
          @skin="primary"
          @alert="true"
          @loading={{this.isLoading}}
          {{on
            "click"
            (fn this.deleteRecognition this.currentRecognition.recognition)
          }}
        >Erkenning verwijderen</AuButton>
      </div>
    </:footer>
  </AuModal>
</div>