<div class="au-o-grid au-o-grid--small">
  <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
    <AuHeading @level="2" @skin="5">Filter verenigingen</AuHeading>
    <AuHr />
    <AuInput
      class="au-u-margin-bottom au-u-margin-top"
      placeholder="Zoek op vCode, naam, hoofdactiviteit of contactpersoon"
      @icon="search"
      @iconAlignment="right"
      @width="block"
      @value={{@search}}
      oninput={{perform @updateSearch value="target.value"}}
    />
    <ActivitySelect @onChange={{@setActivities}} />
    <PostalSelect @onChange={{@setPostalCodes}} />
    <OrganizationStatusSelect @onChange={{@setOrganizationStatus}} />
  </div>
  <div class="au-o-grid__item">
    <AuButton @skin="link" type="reset">
      <AuIcon @icon="cross" @alignment="left" />
      Herstel alle filters
    </AuButton>
  </div>
</div>