<form class="au-o-grid au-o-grid--small">
  <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
    <AuHeading @level="2" @skin="5">Filter verenigingen</AuHeading>
    <AuHr />
    <AuInput
      class="au-u-margin-bottom au-u-margin-top"
      placeholder="zoek op vCode, naam, hoofdactiviteit of contactpersoon"
      @icon="search"
      @iconAlignment="right"
      @width="block"
    />
    <AuLabel for="filter-name">Hoofdactiviteiten</AuLabel>
    <div class={{if @error "ember-power-select--error"}}>
      <PowerSelectMultiple
        @noMatchesMessage="Geen resultaten"
        @searchEnabled={{true}}
        @searchField="label"
        @placeholder="Selecteer een activiteit"
        @searchMessage="Typ om te zoeken"
        @options={{@filters.activities}}
        @selected={{@selectedActivities}}
        @onChange={{@setActivities}}
        as |activity|
      >
        {{activity.label}}
      </PowerSelectMultiple>
    </div>
  </div>
  <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
    <AuLabel for="filter-municipality">Erkenning</AuLabel>
    <AuCheckboxGroup
      @alignment="default"
      @selected={{@selectedOrganizationStatus}}
      @onChange={{@setOrganizationStatus}}
      as |Group|
    >
      {{#each @filters.organizationStatus as |status|}}
        {{#if (eq status.label "Erkend")}}
          <Group.Checkbox
            @value={{status.id}}
          >{{status.label}}</Group.Checkbox>
        {{else if (eq status.label "Niet erkend")}}
          <Group.Checkbox
            @value={{status.id}}
          >{{status.label}}</Group.Checkbox>
        {{/if}}
      {{/each}}
    </AuCheckboxGroup>
  </div>
  <div class="au-o-grid__item">
    <AuButton @skin="link" type="reset">
      <AuIcon @icon="cross" @alignment="left" />
      Herstel alle filters
    </AuButton>
  </div>
</form>