{{page-title "Verenigingen"}}
<section
  class="au-u-flex au-u-1-1 au-u-margin-top au-u-flex--between au-u-flex--vertical-center"
>
  <div>
    <AuHeading @level="1" @skin="2">Verenigingen</AuHeading>
    <AuHeading @level="2" @skin="5">Verenigingen in je gemeente</AuHeading>
  </div>
  <div>
    <AuButton>
      Download
    </AuButton>
  </div>
</section>
<section class="au-u-flex au-u-flex--vertical-start au-u-1-1 au-u-margin-top">
  <div class="au-u-1-1 au-u-max-width-tiny">
    <AuCard
      @shadow={{true}}
      @size="small"
      @standOut={{true}}
      @expandable={{true}}
      @isExpanded={{true}}
      as |c|
    >
      <c.header
        @badgeIcon={{this.badgeIcon}}
        @badgeSkin={{this.badgeSkin}}
        @badgeSize={{this.badgeSize}}
      >
        <AuHeading @level="2" @skin="5">
          Hoofdactiviteiten
        </AuHeading>
      </c.header>
      <c.content>
        <AuCheckboxGroup as |Group|>
          <Group.Checkbox @value="checkboxOne">Burgerinitiatief & Actiegroep
          </Group.Checkbox>
          <Group.Checkbox @value="checkboxTwo">Mediawijsheid & Digitale
            geletterdheid
          </Group.Checkbox>
          <Group.Checkbox @value="checkboxThree">Buurtwerking & Wijkcomité
          </Group.Checkbox>
        </AuCheckboxGroup>
      </c.content>
    </AuCard>

    <AuCard
      class="au-u-margin-top-small"
      @shadow={{true}}
      @size="small"
      @standOut={{true}}
      @expandable={{true}}
      @isExpanded={{false}}
      as |c|
    >
      <c.header
        @badgeIcon={{this.badgeIcon}}
        @badgeSkin={{this.badgeSkin}}
        @badgeSize={{this.badgeSize}}
      >
        <AuHeading @level="2" @skin="5">
          Postcode
        </AuHeading>
      </c.header>
      <c.content>
        <AuCheckboxGroup as |Group|>
          <Group.Checkbox @value="checkboxOne">9300 – Aalst</Group.Checkbox>
          <Group.Checkbox @value="checkboxTwo">9308 – Aalst</Group.Checkbox>
          <Group.Checkbox @value="checkboxThree">9310 – Aalst</Group.Checkbox>
          <Group.Checkbox @value="checkboxThree">9311 – Aalst</Group.Checkbox>
        </AuCheckboxGroup>
      </c.content>
    </AuCard>
  </div>
  <div class="au-u-1-1 au-u-margin-left">
    <AuInput
      class="au-u-margin-bottom"
      placeholder="zoek op vCode, naam, hoofdactiviteit of contactpersoon"
      @icon="search"
      @iconAlignment="right"
      @width="block"
    />
    <div class="au-u-margin-bottom-small">
      <AuPill
       @actionIcon="cross" @actionText="Sluiten">
        Filter text example
      </AuPill>
    </div>
    <AuTable @size="default">
      <:header>
        <tr>
          <AuDataTableThSortable
            @field="naam"
            @currentSorting={{this.sort}}
            @label="Naam"
            @class="data-table__header-title"
          />
          <AuDataTableThSortable
            @field="postcode"
            @currentSorting={{this.sort}}
            @label="Postcode"
            @class="data-table__header-title"
          />
          <AuDataTableThSortable
            @field="hoofdactiviteiten"
            @currentSorting={{this.sort}}
            @label="Hoofdactiviteiten"
            @class="data-table__header-title"
          />
          <AuDataTableThSortable
            @field="vCode"
            @currentSorting={{this.sort}}
            @label="vCode"
            @class="data-table__header-title"
          />
          <AuDataTableThSortable
            @field="erkenning"
            @currentSorting={{this.sort}}
            @label="Erkenning"
            @class="data-table__header-title"
          />
          <AuDataTableThSortable
            @field="leeftijd"
            @currentSorting={{this.sort}}
            @label="Leeftijd"
            @class="data-table__header-title"
          />
        </tr>
      </:header>
      <:body>
        <tr>
          <td>
            <AuLink @route={{"associations.association"}} @model="07fee461-818d-49ee-8e5c-59e6fbb68e0a">
              Vereniging II
            </AuLink>
          </td>
          <td>9310 - Aalst</td>
          <td>Diversiteit & Integratie, Mediawijsheid & Digitale geletterdheid,
            Sport</td>
          <td>V-1234561</td>
          <td>j</td>
          <td>0-18</td>
        </tr>
        <tr>
          <td>
            <AuLink @route={{"associations.association"}} @model="2f3b55ea-ad07-4d84-ad60-5d6f8b88ce5d">
              Vereniging VI
            </AuLink>
          </td>
          <td>9308 - Aalst</td>
          <td>Diversiteit & Integratie, Mediawijsheid & Digitale geletterdheid,
            Sport</td>
          <td>V-1234562</td>
          <td>n</td>
          <td>18-99</td>
        </tr>
      </:body>
    </AuTable>
    <AuToolbar @border="top" @size="large" @nowrap={{true}}>
      <div class="au-c-pagination">
        <div class="au-c-pagination__list-item">
          <AuButton @skin="link" @icon="nav-left" @iconAlignment="left">Vorige
            pagina</AuButton>
        </div>
        <p>
          <span class="au-u-hidden-visually">Resultaten</span>
          1
          <strong>
            -
          </strong>
          2 van 2
        </p>
        <div class="au-c-pagination__list-item">
          <AuButton
            @skin="link"
            @icon="nav-right"
            @iconAlignment="right"
          >Volgende pagina</AuButton>
        </div>
      </div>
    </AuToolbar>
  </div>
</section>