{{#if
  (or
    this.isLoading
    (not this.association.primarySite.isLoaded)
    this.association.contactPoints.isPending
  )
}}
  <AuLoader @padding="large" />
{{else}}
  <div class="au-o-box au-u-padding-left au-u-padding-right au-u-padding-top">
    <section class="au-u-flex au-u-flex--between">
      <div>
        <AuHeading @level="1" @skin="1">Contactgegevens</AuHeading>
        <AuHeading @level="3" @skin="3">{{this.association.name}}</AuHeading>
      </div>
      <div
        class="au-u-flex au-u-flex--end au-u-flex--column au-u-flex--vertical-end"
      >
        {{#if this.association}}
          <ReportWrongData @model={{this.association}} />
        {{/if}}
      </div>
    </section>
    <section>
      {{#let
        (this.contactPoints.getDetails this.association.contactPoints)
        as |contact|
      }}
        <DataCard>
          <:title>
            <div
              class="au-u-padding-top au-u-flex au-u-flex--between au-u-flex--vertical-end"
            >
              Contactgegevens (zoals bekend in Verenigingsloket)
              <div class="au-u-margin-bottom-tiny">
                {{#if this.association}}
                  <LastUpdated @lastUpdated={{this.association.lastUpdated}} />
                {{/if}}
              </div>
            </div>
          </:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item>
                  <:label>Adres</:label>
                  <:content>
                    {{#if this.association.primarySite.address}}
                      {{this.association.primarySite.address.fullAddress}}
                    {{else}}
                      Geen adres gevonden
                    {{/if}}
                  </:content>
                </Item>
                <Item>
                  <:label>Telefoon</:label>
                  <:content>
                    {{#if contact.telephone.length}}
                      {{#each contact.telephone as |telephone index|}}
                        <AuLinkExternal href="tel:{{telephone}}">
                          {{telephone}}
                        </AuLinkExternal>{{#unless
                          (last-index index contact.telephone)
                        }},{{/unless}}
                      {{/each}}
                    {{else}}
                      Niet opgegeven
                    {{/if}}
                  </:content>
                </Item>
                <Item>
                  <:label>Email</:label>
                  <:content>
                    {{#if contact.email}}
                      <AuLinkExternal href="mailto:{{contact.email}}">
                        {{contact.email}}
                      </AuLinkExternal>
                    {{else}}
                      Niet opgegeven
                    {{/if}}
                  </:content>
                </Item>
              </:left>
              <:right as |Item|>
                <Item>
                  <:label>Website</:label>
                  <:content>
                    {{#if contact.website}}
                      <AuLinkExternal href={{contact.website}}>
                        {{contact.website}}
                        (externe link)
                      </AuLinkExternal>
                    {{else}}
                      Niet opgegeven
                    {{/if}}
                  </:content>
                </Item>
                <Item>
                  <:label>Sociale media</:label>
                  <:content>
                    {{#if contact.socialMedia.length}}
                      {{#each contact.socialMedia as |socialMedia index|}}
                        <AuLinkExternal href={{socialMedia.url}}>
                          {{socialMedia.name}}
                        </AuLinkExternal>{{#unless
                          (last-index index contact.socialMedia)
                        }},{{/unless}}
                      {{/each}}
                    {{else}}
                      Niet opgegeven
                    {{/if}}

                  </:content>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </DataCard>
      {{/let}}
    </section>
  </div>
{{/if}}