{{page-title "Bewerk contactgegevens"}}

{{#if
  (or
    this.isLoading
    (not this.association.primarySite.isLoaded)
    this.association.contactPoints.isPending
  )
}}
  <AuLoader class="au-u-margin-top-huge">Contactgegevens aan het laden</AuLoader>
{{else}}
  <div class="au-o-box au-u-padding-left au-u-padding-right au-u-padding-top">
    <section class="au-u-flex au-u-flex--between au-u-margin-bottom-large">
      <div class="">
        <AuHeading @level="1" @skin="1">Bewerk contactgegevens</AuHeading>
        <AuHeading @level="2" @skin="3">{{this.association.name}}</AuHeading>
      </div>

      <div
        class="au-u-text-right au-u-flex au-u-flex--end au-u-flex--column au-u-flex--vertical-end"
      >
        <AuButtonGroup class="au-c-button-group--align-right">
          <AuLink @route="association.contact-detail" @skin="button-secondary">
            Annuleer
          </AuLink>
          <AuButton
            {{!-- @loading={{this.save.isRunning}}
            @disabled={{this.save.isRunning}} --}}
            form="contact-edit-form"
            type="submit"
          >
            Opslaan
          </AuButton>
        </AuButtonGroup>
      </div>
    </section>

    <form id="contact-edit-form" {{on "submit" (perform this.save)}}>
      <EditCard @containsRequiredFields={{true}}>
        <:title>Contactgegevens</:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <AddressSearch
                {{!-- @address={{get this.association "primarySite.address"}} --}}
                @address={{hash street="foo" number="1" postcode="1234" fullAddress="foo 1 1234"}}
                @itemComponent={{Item}}
                {{!-- @isSearchEnabledInitially={{@isAddressSearchEnabledInitially}} --}}
                @isSearchEnabledInitially={{true}}
                @required={{true}}
                @error={{@address.error}}
              >
                <:manualAddressInputBeforeButton>
                  <Item
                    @labelFor="address-country"
                    @required={{true}}
                    @errorMessage={{@address.error.country.message}}
                  >
                    <:label>Land</:label>
                    <:content as |hasError|>
                      <CountrySelect
                        @selected={{@address.country}}
                        {{!-- @onChange={{this.updateCountry}} --}}
                        @onChange={{fn (mut this.country)}}
                        @id="address-country"
                        @error={{hasError}}
                      />
                    </:content>
                  </Item>
                  <Item
                    @labelFor="address-street-name"
                    @required={{true}}
                    @errorMessage={{@address.error.street.message}}
                  >
                    <:label>Straat</:label>
                    <:content as |hasError|>
                      <TrimInput
                        @width="block"
                        @value={{@address.street}}
                        {{! // Todo update }}
                        @onUpdate={{fn (mut this.address.street)}}
                        @error={{hasError}}
                        id="address-street-name"
                      />
                    </:content>
                  </Item>
                </:manualAddressInputBeforeButton>
                <:manualAddressInput>
                  <Item
                    @labelFor="address-house-number"
                    @required={{true}}
                    @errorMessage={{@address.error.number.message}}
                  >
                    <:label>Huisnummer</:label>
                    <:content as |hasError|>
                      <TrimInput
                        @width="block"
                        @value={{@address.number}}
                        @onUpdate={{fn (mut @address.number)}}
                        @error={{hasError}}
                        id="address-house-number"
                      />
                    </:content>
                  </Item>
                  <Item @labelFor="address-bus-number">
                    <:label>Busnummer</:label>
                    <:content>
                      <TrimInput
                        @width="block"
                        @value={{@address.boxNumber}}
                        @onUpdate={{fn (mut @address.boxNumber)}}
                        id="address-bus-number"
                      />
                    </:content>
                  </Item>
                  <Item
                    @labelFor="address-postal-code"
                    @required={{true}}
                    @errorMessage={{@address.error.postcode.message}}
                  >
                    <:label>Postcode</:label>
                    <:content as |hasError|>
                      <TrimInput
                        @width="block"
                        @value={{@address.postcode}}
                        @onUpdate={{fn (mut @address.postcode)}}
                        @error={{hasError}}
                        id="address-postal-code"
                      />
                    </:content>
                  </Item>
                  {{!-- {{#if @address.isCountryBelgium}}
                    <Item
                      @labelFor="address-municipality"
                      @required={{true}}
                      @errorMessage={{@address.error.municipality.message}}
                    >
                      <:label>Gemeente</:label>
                      <:content as |hasError|>
                        <MunicipalitySelectByName
                          @selected={{@address.municipality}}
                          @selectedProvince={{@address.province}}
                          @onChange={{fn (mut @address.municipality)}}
                          @id="address-municipality"
                          @error={{hasError}}
                        />
                      </:content>
                    </Item>
                  {{else}}
                    <Item
                      @labelFor="address-municipality"
                      @required={{true}}
                      @errorMessage={{@address.error.municipality.message}}
                    >
                      <:label>Gemeente</:label>
                      <:content as |hasError|>
                        <TrimInput
                          @width="block"
                          @value={{@address.municipality}}
                          @onUpdate={{fn (mut @address.municipality)}}
                          @error={{hasError}}
                          id="address-municipality"
                        />
                      </:content>
                    </Item>
                  {{/if}} --}}
                </:manualAddressInput>
                <:commonInput>
                  {{!-- {{#if @address.isCountryBelgium}}
                    <Item
                      @labelFor="address-province"
                      @required={{true}}
                      @errorMessage={{@address.error.province.message}}
                    >
                      <:label>Provincie</:label>
                      <:content as |hasError|>
                        <ProvinceSelect
                          @selected={{@address.province}}
                          @selectedMunicipality={{@address.municipality}}
                          @onChange={{fn (mut @address.province)}}
                          @id="address-province"
                          @error={{hasError}}
                        />
                      </:content>
                    </Item>
                  {{/if}} --}}
                </:commonInput>
              </AddressSearch>
            </:left>
            <:right as |Item|>
              <Item
                @labelFor="contact-phone-number"
                @errorMessage={{@primaryContact.error.telephone.message}}
              >
                <:label>Telefoon</:label>
                <:content as |hasError|>
                  <TrimInput
                    @width="block"
                    @value={{@primaryContact.telephone}}
                    {{! todo path }}
                    @onUpdate={{fn (mut this.primaryContact.telephone)}}
                    @error={{hasError}}
                    id="contact-phone-number"
                    type="tel"
                    {{!-- {{inputmaskTel}} --}}
                  />
                </:content>
                <:helpText>
                  {{!-- {{help-text "phone-number"}} --}}
                </:helpText>
              </Item>

              <Item
                @labelFor="contact-email"
                @errorMessage={{@primaryContact.error.email.message}}
              >
                <:label>E-mail</:label>
                <:content as |errorMessage|>
                  <TrimInput
                    @width="block"
                    @value={{@primaryContact.email}}
                    @onUpdate={{fn (mut this.primaryContact.email)}}
                    @error={{errorMessage}}
                    id="contact-email"
                  />
                </:content>
                <:helpText>
                  {{!-- {{help-text "email"}} --}}
                </:helpText>
              </Item>
              <Item
                @labelFor="contact-website"
                @errorMessage={{@primaryContact.error.website.message}}
              >
                <:label>Website</:label>
                <:content as |hasError|>
                  <TrimInput
                    @width="block"
                    @value={{this.primaryContact.website}}
                    @onUpdate={{fn (mut this.primaryContact.website)}}
                    @error={{hasError}}
                    id="contact-website"
                  />
                </:content>
                <:helpText>
                  {{!-- {{help-text "url"}} --}}
                </:helpText>
              </Item>
              <Item
                @labelFor="contact-social-media"
                {{!-- @errorMessage={{@primaryContact.error.website.message}} --}}
              >
                <:label>Social media</:label>
                <:content as |hasError|>
                  <TrimInput
                    @width="block"
                    @value={{this.primaryContact.website}}
                    @onUpdate={{fn (mut this.primaryContact.website)}}
                    @error={{hasError}}
                    id="contact-social-media"
                  />
                </:content>
                <:helpText>
                  {{!-- {{help-text "url"}} --}}
                </:helpText>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </EditCard>
    </form>
  </div>
{{/if}}