<div class="au-o-box au-o-flow au-o-flow--large">
  <section class="au-u-flex au-u-flex--between">
    <div>
      <AuHeading @level="1" @skin="1">Algemeen</AuHeading>
      <AuHeading @level="3" @skin="3">{{this.model.name}}</AuHeading>
    </div>
    <div
      class="au-u-flex au-u-flex--end au-u-flex--column au-u-flex--vertical-end"
    >
      <AuPill @skin="default" @icon="clock-rewind">Laatst gewijzigd op
        22-02-2022</AuPill>
      <ReportWrongData @model={{this.model}} />
    </div>
  </section>
  <section>
    <DataCard>
      <:title>
        Vereniging
      </:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Naam</:label>
              <:content>
                {{this.model.name}}
              </:content>
            </Item>
            <Item>
              <:label>Type</:label>
              <:content>
                {{#if this.model.classification}}
                  <span title="{{this.model.classification.prefLabel}}">
                    {{this.model.classification.notation}}
                  </span>
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>
            <Item>
              <:label>Hoofdactiviteiten</:label>
              <:content>
                {{#if this.model.activities}}
                  {{#each this.model.activities as |activity index|}}
                    {{activity.label}}{{#unless
                      (last-index index this.model.activities)
                    }},{{/unless}}
                  {{/each}}
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>

            <Item>
              <:label>Beschrijving</:label>
              <:content>
                {{#if this.model.description}}
                  {{this.model.description}}
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Minimum leeftijd</:label>
              <:content>
                {{#if this.model.targetAudience}}
                  {{this.model.targetAudience.minimumLeeftijd}}
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>
            <Item>
              <:label>Maximum leeftijd</:label>
              <:content>
                {{#if this.model.targetAudience}}
                  {{this.model.targetAudience.maximumLeeftijd}}
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>
            <Item>
              <:label>Koepel</:label>
              <:content>
                {{#if this.model.parentOrganization.name}}
                  {{this.model.parentOrganization.name}}
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>
            <Item>
              <:label>Startdatum</:label>
              <:content>
                {{#each this.model.changeEvents as |changeEvent|}}
                  {{#let (get changeEvent.result "label") as |result|}}
                    {{#if (eq result "Oprichting")}}
                      {{date-format changeEvent.date}}
                    {{/if}}
                  {{/let}}
                {{else}}
                  Niet opgegeven
                {{/each}}
              </:content>
            </Item>
            <Item>
              <:label>vCode</:label>
              <:content>
                {{#each this.model.identifiers as |identifier|}}
                  {{#if (eq identifier.idName "vCode")}}
                    {{#if (get identifier.structuredIdentifier "localId")}}
                      {{get identifier.structuredIdentifier "localId"}}
                    {{else}}
                      Niet opgegeven
                    {{/if}}
                  {{/if}}
                {{/each}}
              </:content>
            </Item>
            <Item>
              <:label>KBO nummer</:label>
              <:content>
                {{#each this.model.identifiers as |identifier|}}
                  {{#if (eq identifier.idName "KBO nummer")}}
                    {{#if (get identifier.structuredIdentifier "localId")}}
                      {{get identifier.structuredIdentifier "localId"}}
                    {{else}}
                      Niet opgegeven
                    {{/if}}
                  {{/if}}
                {{/each}}
              </:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>
  </section>
</div>