<div class="au-o-box au-o-flow au-o-flow">
  <section class="au-u-flex au-u-flex--between">
    <div>
      <AuHeading @level="1" @skin="1">Algemeen</AuHeading>
      <AuHeading
        @level="3"
        @skin="3"
      >{{this.model.association.name}}</AuHeading>
    </div>
    <div
      class="au-u-flex au-u-flex--end au-u-flex--column au-u-flex--vertical-end"
    >
      <ReportWrongData @model={{this.model.association}} />
    </div>
  </section>
  <section>
    <Recognition::GeneralCard
      @recognition={{this.recognition}}
      @title="Huidige erkenning"
      @isLoading={{this.isLoading}}
    />
  </section>

  <section>
    <DataCard>
      <:title>
        <div class="au-u-flex au-u-flex--between au-u-flex--vertical-end">
          Vereniging (zoals bekend in het Verenigingsregister)
          <div class="au-u-margin-bottom-tiny">
            {{#if this.model.association}}
              <LastUpdated
                @lastUpdated={{this.model.association.lastUpdated}}
              />
            {{/if}}
          </div>
        </div>
      </:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Naam</:label>
              <:content>
                {{this.model.association.name}}
              </:content>
            </Item>
            <Item>
              <:label>Type</:label>
              <:content>
                {{#if this.model.association.classification}}
                  <span
                    title="{{this.model.association.classification.prefLabel}}"
                  >
                    {{this.model.association.classification.prefLabel}}
                    ({{this.model.association.classification.notation}})
                  </span>
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>
            <Item>
              <:label>Hoofdactiviteiten</:label>
              <:content>
                {{#if this.model.association.activities}}
                  {{#each
                    this.model.association.activities
                    as |activity index|
                  }}
                    {{activity.prefLabel}}{{#unless
                      (last-index index this.model.association.activities)
                    }},{{/unless}}
                  {{/each}}
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>

            <Item>
              <:label>Beschrijving</:label>
              <:content>
                {{#if this.model.association.description}}
                  {{this.model.association.description}}
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Status</:label>
            <:content>
              <OrganizationStatus
                @id={{this.model.association.organizationStatus.id}}
                @label={{this.model.association.organizationStatus.label}}
              />
            </:content>
            </Item>
            <Item>
              <:label>Minimum leeftijd</:label>
              <:content>
                {{#if this.model.association.targetAudience}}
                  {{this.model.association.targetAudience.minimumLeeftijd}}
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>
            <Item>
              <:label>Maximum leeftijd</:label>
              <:content>
                {{#if this.model.association.targetAudience}}
                  {{this.model.association.targetAudience.maximumLeeftijd}}
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>
            <Item>
              <:label>Startdatum</:label>
              <:content>
                {{#if this.model.association.createdOn}}
                  {{date-format this.model.association.createdOn}}
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>
            <Item>
              <:label>vCode</:label>
              <:content>
                {{#each this.model.association.identifiers as |identifier|}}
                  {{#if (eq identifier.idName "vCode")}}
                    {{#if (get identifier.structuredIdentifier "localId")}}
                      {{get identifier.structuredIdentifier "localId"}}
                    {{else}}
                      Niet opgegeven
                    {{/if}}
                  {{/if}}
                {{/each}}
              </:content>
            </Item>
            <Item>
              <:label>KBO nummer</:label>
              <:content>
                {{#each this.model.association.identifiers as |identifier|}}
                  {{#if (eq identifier.idName "KBO nummer")}}
                    {{#if (get identifier.structuredIdentifier "localId")}}
                      {{get identifier.structuredIdentifier "localId"}}
                    {{else}}
                      Niet opgegeven
                    {{/if}}
                  {{/if}}
                {{/each}}
              </:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>
  </section>
</div>