<div class="au-o-box au-o-flow au-o-flow--large">
  <section class="au-u-flex au-u-flex--between au-u-max-width-large">
    <div>
      <AuHeading @level="1" @skin="1">Algemeen</AuHeading>
      <AuHeading @level="3" @skin="3">{{this.model.name}}</AuHeading>
    </div>
    <div
      class="au-u-flex au-u-flex--end au-u-flex--column au-u-flex--vertical-end"
    >
      <LastUpdated @lastUpdated={{this.model.lastUpdated}} />
      <ReportWrongData @model={{this.model}} />
    </div>
  </section>
  <section>
    <DataCard>
      <:title>
        <div class="au-u-flex au-u-flex--between au-u-flex--vertical-end">
          Huidige erkenning
          <AuButton
            @skin="secondary"
            @icon="pencil"
            class="au-u-margin-bottom-tiny"
            {{on "click" (perform this.edit)}}
            @disabled={{not this.this.model.recognition}}
          >
            Bewerk
          </AuButton>
        </div>
      </:title>
      <:card as |Card|>
        {{#if this.model.recognition}}
          {{! Erkenning actief }}
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>Status</:label>
                <:content>
                  <AuPill @skin="success">Erkend</AuPill>
                </:content>
              </Item>
              <Item>
                <:label>Ingangsdatum</:label>
                <:content>
                  12-02-2023
                </:content>
              </Item>
              <Item>
                <:label>Erkend door</:label>
                <:content>
                  College van burgemeester en schepenen
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item>
                <:label>Erkend op</:label>
                <:content>
                  12-02-2023
                </:content>
              </Item>
              <Item>
                <:label>Einddatum</:label>
                <:content>
                  12-02-2023
                </:content>
              </Item>
              <Item>
                <:label>Erkenningsbesluit</:label>
                <:content>
                  <AuLinkExternal href={{this.href}} @icon="external-link">
                    Beslissing (externe link)
                  </AuLinkExternal>
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        {{else if this.model.recognition}}
          {{! Erkenning niet meer actief }}
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>Status</:label>
                <:content>
                  <AuPill @skin="warning">Niet erkend</AuPill>
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item>
                <:label>Einddatum</:label>
                <:content>
                  12-02-2023
                </:content>
              </Item>

            </:right>
          </Card.Columns>
        {{else}}
          {{! Geen erkenning }}
          <div class="au-u-flex au-u-flex--center">
            <p><span
                class="au-c-help-text--tertiary au-u-padding-right-tiny"
              >Deze vereniging heeft geen erkenning.</span>
              <AuLink @skin="link">
                Voeg de erkenning toe.
              </AuLink>
            </p>
          </div>
        {{/if}}

      </:card>
    </DataCard>
  </section>

  <section>
    <DataCard>
      <:title>
        <div class="au-u-flex au-u-flex--between au-u-flex--vertical-end">
          Vereniging
          <AuPill
            @skin="default"
            class="au-u-margin-bottom-tiny"
            @icon="clock-rewind"
          >Laatst gewijzigd op 22-02-2022</AuPill>
        </div>
      </:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Naam</:label>
              <:content>
                {{this.model.name}}
              </:content>
            </Item>
            <Item>
              <:label>Type</:label>
              <:content>
                {{#if this.model.classification}}
                  <span title="{{this.model.classification.prefLabel}}">
                    {{this.model.classification.notation}}
                  </span>
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>
            <Item>
              <:label>Hoofdactiviteiten</:label>
              <:content>
                {{#if this.model.activities}}
                  {{#each this.model.activities as |activity index|}}
                    {{activity.label}}{{#unless
                      (last-index index this.model.activities)
                    }},{{/unless}}
                  {{/each}}
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>

            <Item>
              <:label>Beschrijving</:label>
              <:content>
                {{#if this.model.description}}
                  {{this.model.description}}
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Minimum leeftijd</:label>
              <:content>
                {{#if this.model.targetAudience}}
                  {{this.model.targetAudience.minimumLeeftijd}}
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>
            <Item>
              <:label>Maximum leeftijd</:label>
              <:content>
                {{#if this.model.targetAudience}}
                  {{this.model.targetAudience.maximumLeeftijd}}
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>
            <Item>
              <:label>Koepel</:label>
              <:content>
                {{#if this.model.parentOrganization.name}}
                  {{this.model.parentOrganization.name}}
                {{else}}
                  Niet opgegeven
                {{/if}}
              </:content>
            </Item>
            <Item>
              <:label>Startdatum</:label>
              <:content>
                {{#each this.model.changeEvents as |changeEvent|}}
                  {{#let (get changeEvent.result "label") as |result|}}
                    {{#if (eq result "Oprichting")}}
                      {{date-format changeEvent.date}}
                    {{/if}}
                  {{/let}}
                {{else}}
                  Niet opgegeven
                {{/each}}
              </:content>
            </Item>
            <Item>
              <:label>vCode</:label>
              <:content>
                {{#each this.model.identifiers as |identifier|}}
                  {{#if (eq identifier.idName "vCode")}}
                    {{#if (get identifier.structuredIdentifier "localId")}}
                      {{get identifier.structuredIdentifier "localId"}}
                    {{else}}
                      Niet opgegeven
                    {{/if}}
                  {{/if}}
                {{/each}}
              </:content>
            </Item>
            <Item>
              <:label>KBO nummer</:label>
              <:content>
                {{#each this.model.identifiers as |identifier|}}
                  {{#if (eq identifier.idName "KBO nummer")}}
                    {{#if (get identifier.structuredIdentifier "localId")}}
                      {{get identifier.structuredIdentifier "localId"}}
                    {{else}}
                      Niet opgegeven
                    {{/if}}
                  {{/if}}
                {{/each}}
              </:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>
  </section>
</div>