<AuDataTable
  @content={{this.sites}}
  @isLoading={{this.isLoading}}
  @noDataMessage="Geen locaties"
  as |t|
>
  <t.menu>
    <section
      class="au-u-flex au-u-flex--between au-o-box au-o-flow au-o-flow--large"
    >
      <div>
        <AuHeading @level="1" @skin="1">Locaties</AuHeading>
        <AuHeading @level="3" @skin="3">{{this.association.name}}</AuHeading>
      </div>
      <div
        class="au-u-flex au-u-flex--end au-u-flex--column au-u-flex--vertical-end"
      >
        {{#if this.association}}
          <LastUpdated @lastUpdated={{this.association.lastUpdated}} />
          <ReportWrongData @model={{this.association}} />
        {{/if}}
      </div>
    </section>

  </t.menu>
  <t.content class="au-c-data-table__table--small" as |c|>
    <c.header>
      <th width="80px" class="data-table__header-title"></th>
      <AuDataTableThSortable
        @field="address.fullAddress"
        @currentSorting={{this.sort}}
        @label="Locatie"
        @class="data-table__header-title"
      />
      <AuDataTableThSortable
        @field="siteType.label"
        @currentSorting={{this.sort}}
        @label="Type"
        @class="data-table__header-title"
      />
      <AuDataTableThSortable
        @field="description"
        @currentSorting={{this.sort}}
        @label="Beschrijving"
        @class="data-table__header-title"
      />
    </c.header>
    {{#if this.hasErrored}}
      <TableMessage::Error />
    {{else}}
      <c.body as |site|>
        <td>
          {{#if site.address.isPrimary}}
            <AuBadge @icon="vote-star-filled" class="star-icon" />
          {{/if}}
        </td>
        <td>
          {{site.address.fullAddress}}
        </td>
        <td>
          {{site.siteType.label}}
        </td>
        <td>
          {{site.description}}
        </td>
      </c.body>
    {{/if}}
  </t.content>
</AuDataTable>