<AuLabel class="au-u-margin-top" for="filter-name">Status</AuLabel>
<div class={{if @error "ember-power-select--error"}}>
  <AuRadioGroup
  @alignment="left"
  @name="is-cross-border"
  @selected={{
    @organizationStatus
  }}
  @onChange={{fn
    (mut @organizationStatus)
  }}
  as |Group|
>
  <Group.Radio @value={{true}}>Actief</Group.Radio>
  <Group.Radio @value={{false}}>Niet actief</Group.Radio>
</AuRadioGroup>
</div>