<AuLabel class="au-u-margin-top" for="filter-name">Selecteer postcode(s)
  hoofdzetel</AuLabel>
<div class={{if @error "ember-power-select--error"}}>
  <PowerSelect
    @multiple={{true}}
    @noMatchesMessage="Geen resultaten"
    @searchEnabled={{true}}
    @search={{this.searchPostalCodes.perform}}
    @placeholder="Selecteer een postcode"
    @searchMessage="Typ om te zoeken"
    @loadingMessage="Aan het laden"
    @selected={{@selected}}
    @onChange={{this.handleChange}}
    @triggerId={{@id}}
    as |postalCode|
  >
    {{postalCode.postalCode}}
    -
    {{postalCode.postalName}}
  </PowerSelect>
</div>