<AuLabel class="au-u-margin-top" for="filter-name">Selecteer type(s)</AuLabel>
<div class={{if @error "ember-power-select--error"}}>
  <PowerSelect
    @multiple={{true}}
    @noMatchesMessage="Geen resultaten"
    @searchEnabled={{true}}
    @searchField="prefLabel"
    @search={{this.searchMethod}}
    @placeholder="Selecteer een type"
    @searchMessage="Typ om te zoeken"
    @options={{this.types}}
    @selected={{@selected}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    as |type|
  >
    {{type.prefLabel}}
    ({{type.notation}})
  </PowerSelect>
</div>