<form
  id="recognition-form"
  aria-label="recognition-form"
  class="au-c-form"
  {{on "submit" this.handleRecognition}}
>
  {{#let this.currentRecognition.recognitionModel as |model|}}
    <section>
      <DataCard>
        <:title>
          Erkenning
        </:title>
        <:card as |Card|>
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>
                  <AuLabel
                    @inline={{true}}
                    @required={{true}}
                    for="recognized-on"
                  >Erkend op</AuLabel></:label>
                <:content>
                  <div class="au-u-1-1">
                    <Datepicker
                      class="au-u-1-1"
                      @value={{convert-to-date model.dateDocument}}
                      @error={{this.validationErrors.dateDocument}}
                      @onChange={{fn (mut model.dateDocument)}}
                      id="recognized-on"
                      {{on "input" (fn this.clearFormError "dateDocument")}}
                    />
                    <AuHelpText
                      @error={{this.validationErrors.dateDocument}}
                    >{{this.validationErrors.dateDocument}}</AuHelpText>
                  </div>
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item>
                <:label>
                  <AuLabel />
                </:label>
                <:content>
                  <AuInput class="visibility-hidden" />
                  <AuHelpText
                    class="visibility-hidden"
                    @error={{this.validationErrors.dateDocument}}
                  >{{this.validationErrors.dateDocument}}</AuHelpText>
                </:content>
              </Item>
            </:right>
          </Card.Columns>
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>
                  <AuLabel
                    @inline={{true}}
                    @required={{true}}
                    for="start-time"
                  >Ingangsdatum</AuLabel></:label>
                <:content>
                  <Datepicker
                    class="au-u-1-1"
                    @value={{this.getStartDate}}
                    @onChange={{fn (mut model.startTime)}}
                    {{on "input" (fn this.clearFormError "startTime")}}
                    @error={{this.validationErrors.startTime}}
                    id="start-time"
                  />
                  <AuHelpText
                    @error={{this.validationErrors.startTime}}
                  >{{this.validationErrors.startTime}}</AuHelpText>
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item>
                <:label>
                  <AuLabel
                    @inline={{true}}
                    @required={{true}}
                    for="end-time"
                  >Einddatum</AuLabel></:label>
                <:content>
                  <Datepicker
                    class="au-u-1-1"
                    @error={{this.validationErrors.endTime}}
                    @value={{this.getEndDate}}
                    @onChange={{fn (mut model.endTime)}}
                    id="end-time"
                    {{on "input" (fn this.clearFormError "endTime")}}
                  />
                  <AuHelpText
                    @error={{this.validationErrors.endTime}}
                  >{{this.validationErrors.endTime}}</AuHelpText>
                </:content>
              </Item>
            </:right>
          </Card.Columns>
          <Card.Columns>
            <:left as |Item|>
              <Item>
                <:label>
                  <AuLabel
                    @inline={{true}}
                    @required={{true}}
                    for="awarded-by"
                  >Erkend door</AuLabel>
                </:label>
                <:content>
                  <div
                    class={{if
                      this.validationErrors.awardedBy
                      "ember-power-select--error"
                    }}
                  >
                    <PowerSelect
                      @options={{this.items}}
                      @loadingMessage="Aan het laden"
                      @selected={{this.currentRecognition.selectedItem}}
                      @onChange={{this.handleAwardedByChange}}
                      @triggerId="awarded-by"
                      as |name|
                    >
                      {{name}}
                    </PowerSelect>
                    {{#if this.currentRecognition.isOtherOrganization}}
                      <section
                        class="au-u-margin-top-small au-u-flex au-u-flex--vertical-center"
                      >
                        <div class="au-u-flex au-u-flex--column au-u-1-3">
                          <AuLabel
                            @inline={{true}}
                            @required={{true}}
                            for="awarded-by-organization-name"
                          >
                            Namelijk
                          </AuLabel>
                        </div>
                        <div class="au-u-flex au-u-flex--column au-u-1-1">
                          <AuInput
                            @width="block"
                            @error={{this.validationErrors.delegatedTo}}
                            placeholder="Entiteit"
                            value={{model.delegatedTo}}
                            id="delegated-to-organization-name"
                            {{on "blur" this.handleDelegatedToEvent}}
                            {{on
                              "input"
                              (fn this.clearFormError "delegatedTo")
                            }}
                          />
                          <AuHelpText
                            @error={{this.validationErrors.delegatedTo}}
                          >{{this.validationErrors.delegatedTo}}</AuHelpText>
                        </div>
                      </section>
                    {{/if}}
                  </div>
                  <AuHelpText
                    @error={{this.validationErrors.awardedBy}}
                  >{{this.validationErrors.awardedBy}}</AuHelpText>
                </:content>
              </Item>
            </:left>
            <:right as |Item|>
              <Item>
                <:label>
                  <AuLabel
                    @inline={{true}}
                    for="legal-resource"
                  >Erkenningsbesluit</AuLabel>
                </:label>
                <:content>
                  {{#if this.legalResourceFile}}
                    <AuInput
                      placeholder="Voeg alleen een pdf toe"
                      value={{this.legalResourceFile.name}}
                      @width="block"
                      readonly
                      id="file"
                      @error={{this.validationErrors.file}}
                    />
                    <AuHelpText
                      @error={{this.validationErrors.file}}
                    >{{this.validationErrors.file}}</AuHelpText>
                  {{else}}
                    <AuInput
                      placeholder="Voeg alleen een directe link naar het besluit toe"
                      {{on
                        "input"
                        (event-value (fn (mut model.legalResource)))
                      }}
                      value={{model.legalResource}}
                      {{on "input" (fn this.clearFormError "legalResource")}}
                      @width="block"
                      id="legal-resource"
                      @error={{this.validationErrors.legalResource}}
                    />
                    <AuHelpText
                      @error={{this.validationErrors.legalResource}}
                    >{{this.validationErrors.legalResource}}</AuHelpText>
                  {{/if}}

                  {{#unless this.legalResourceFile}}
                    {{#if model.legalResource.length}}
                      <AuLinkExternal
                        href={{model.legalResource}}
                        @icon="external-link"
                      >
                        Controleer link
                      </AuLinkExternal>
                    {{/if}}
                  {{/unless}}
                  <div class="au-u-flex au-u-flex--end">
                    {{#if this.legalResourceFile}}
                      <div class="au-u-flex au-u-flex--end">
                        <AuButton
                          class="au-u-flex au-u-flex--start"
                          @skin="link"
                          @icon="download"
                          {{on
                            "click"
                            (fn this.openFileInNewTab this.legalResourceFile)
                          }}
                        >Bekijk bestand</AuButton>
                        <AuButton
                          class="au-u-flex au-u-flex--end"
                          @skin="link"
                          @icon="trash"
                          {{on "click" (perform this.removeFile)}}
                        >
                          Verwijder bestand
                        </AuButton>
                      </div>
                    {{else}}
                      {{#unless model.legalResource.length}}
                        <p>
                          Geen link?
                          <input
                            type="file"
                            id="legalResource"
                            name="legalResource"
                            hidden
                            accept=".pdf"
                            {{on "change" this.handleFileChange}}
                          />
                          <label
                            for="legalResource"
                            class="au-c-link underline"
                          >Voeg bestand toe</label>
                        </p>
                      {{/unless}}
                    {{/if}}
                  </div>
                </:content>
              </Item>
            </:right>
          </Card.Columns>
        </:card>
      </DataCard>
    </section>
  {{/let}}
</form>