<DataCard>
  <:title>
    <div class="au-u-flex au-u-flex--between au-u-flex--vertical-end">
      Erkenning
    </div>
  </:title>
  <:card as |Card|>
    <Card.Columns>
      <:left as |Item|>
        <Item>
          <:label>Status</:label>
          <:content>
            {{#if
              (check-if-active
                @recognition.validityPeriod.startTime
                @recognition.validityPeriod.endTime
              )
            }}
              <AuPill @skin="success">Erkend</AuPill>
            {{else if (is-period-expired @recognition.validityPeriod)}}
              <AuPill @skin="warning">Verlopen</AuPill>
            {{/if}}
          </:content>
        </Item>
        <Item>
          <:label>Ingangsdatum</:label>
          <:content>
            {{date-format @recognition.validityPeriod.startTime}}
          </:content>
        </Item>
        <Item>
          <:label>Erkend door</:label>
          <:content>
            {{#if @recognition.delegatedTo}}
              {{@recognition.delegatedTo.name}}
            {{else}}
              College van burgemeester en schepenen
            {{/if}}
            -
            {{@recognition.awardedBy.name}}
          </:content>
        </Item>
      </:left>
      <:right as |Item|>
        <Item>
          <:label>Erkend op</:label>
          <:content>
            {{date-format @recognition.dateDocument}}
          </:content>
        </Item>
        <Item>
          <:label>Einddatum</:label>
          <:content>
            {{date-format @recognition.validityPeriod.endTime}}
          </:content>
        </Item>
        {{#if (or @recognition.legalResource @recognition.file)}}
          <Item>
            <:label>Erkenningsbesluit</:label>
            <:content>
              {{#if @recognition.file}}
                <AuButton
                  class="au-u-flex au-u-flex--start au-u-padding-none"
                  @skin="link"
                  {{on "click" (fn this.getFile @recognition.file)}}
                >Bekijk bestand</AuButton>
              {{else}}
                {{#if @recognition.legalResource}}
                  <AuLinkExternal href={{@recognition.legalResource}}>
                    Beslissing (externe link)
                  </AuLinkExternal>
                {{/if}}
              {{/if}}
            </:content>
          </Item>
        {{/if}}
      </:right>
    </Card.Columns>
  </:card>
</DataCard>