{{page-title "Vertegenwoordigers"}}

{{#let (this.getPromiseState this.model.dataPromise) as |state|}}
  <div class="au-o-box au-u-padding-left au-u-padding-right au-u-padding-top">
    <section
      class="au-u-flex au-u-flex--between au-u-flex--vertical-end au-u-margin-bottom"
    >
      <div>
        <AuHeading @level="1" @skin="1">Vertegenwoordigers</AuHeading>
        <AuHeading @level="2" @skin="3">{{this.association.name}}</AuHeading>
      </div>

      {{#if state.isSuccess}}
        {{#if this.currentSession.canEditVerenigingsregisterData}}
          <div class="au-u-flex au-u-flex--column au-u-flex--vertical-end">
            {{#if this.currentSession.canEdit}}
              {{#if state.result.isApiUnavailable}}
                <AuButton @skin="secondary" @icon="pencil" @disabled={{true}}>
                  Bewerk
                </AuButton>
              {{else}}
                <AuLink
                  @route="association.representatives.edit"
                  @skin="button-secondary"
                  @icon="pencil"
                >
                  Bewerk
                </AuLink>
              {{/if}}
            {{else}}
              <ReportWrongData @model={{this.association}} />
            {{/if}}
            <span class="au-u-margin-top-tiny">
              <LastUpdated @lastUpdated={{this.association.lastUpdated}} />
            </span>
          </div>
        {{/if}}
      {{/if}}
    </section>

    {{#if state.isSuccess}}
      {{#if this.currentSession.canEditVerenigingsregisterData}}
        {{#if state.result.kboNumber}}
          <section class="au-u-padding-top">
            <h3
              class="au-c-heading au-c-heading--5 au-u-margin-bottom-small au-u-flex au-u-flex--between au-u-flex--vertical-end"
            >
              <AuLinkExternal
                href="https://kbopub.economie.fgov.be/kbopub/zoeknummerform.html?nummer={{state.result.kboNumber}}"
              >
                Bekijk de functies op de KBO pagina (externe link)
              </AuLinkExternal>
            </h3>
          </section>
        {{/if}}

        {{#if state.result.isApiUnavailable}}
          <Verenigingsregister::ApiUnavailableMessage
            @association={{this.association}}
            @onApiAvailable={{this.reloadData}}
          />
        {{/if}}
      {{else}}
        <AuContent class="au-u-max-width-small">
          <AuHeading @level="4" @skin="4">Waarom zie ik geen gegevens van
            vertegenwoordigers meer?</AuHeading>
          <p>
            Om de gegevens van vertegenwoordigers te kunnen zien, heb je een
            verwerkersovereenkomst met ABB én een aansluiting met MAGDA nodig.
            <br />
            Voor meer informatie,
            <AuLinkExternal
              href="https://abb-vlaanderen.gitbook.io/handleiding-verenigingen/algemeen/verwerkersovereenkomst-en-aansluiting-magda"
            >
              klik hier.
            </AuLinkExternal>
          </p>
        </AuContent>
      {{/if}}
    {{/if}}
  </div>

  {{#if this.currentSession.canEditVerenigingsregisterData}}
    <div>
      <AuDataTable
        @content={{if
          state.isSuccess
          (this.sortVertegenwoordigers
            state.result.vertegenwoordigers this.sort
          )
        }}
        @isLoading={{state.isPending}}
        @loadingMessage="Vertegenwoordigers aan het laden"
        @noDataMessage="Geen vertegenwoordigers beschikbaar"
        as |t|
      >
        <t.content class="au-c-data-table__table--small" as |c|>
          <c.header>
            <th width="80px" class="data-table__header-title"></th>
            <AuDataTableThSortable
              @field="voornaam"
              @currentSorting={{this.sort}}
              @label="Voornaam"
              @class="data-table__header-title"
            />
            <AuDataTableThSortable
              @field="achternaam"
              @currentSorting={{this.sort}}
              @label="Achternaam"
              @class="data-table__header-title"
            />
            <AuDataTableThSortable
              @field="e-mail"
              @currentSorting={{this.sort}}
              @label="E-mail"
              @class="data-table__header-title"
            />
            <AuDataTableThSortable
              @field="telefoon"
              @currentSorting={{this.sort}}
              @label="Telefoonnummer"
              @class="data-table__header-title"
            />
            <AuDataTableThSortable
              @field="socialMedia"
              @currentSorting={{this.sort}}
              @label="Sociale media"
              @class="data-table__header-title"
            />
          </c.header>
          {{#if state.isError}}
            <TableMessage::Error />
          {{else}}
            <c.body as |vertegenwoordiger|>
              <td>
                {{#if vertegenwoordiger.isPrimair}}
                  <AuBadge @icon="vote-star-filled" class="star-icon" />
                {{/if}}
              </td>
              <td>
                {{vertegenwoordiger.voornaam}}
              </td>
              <td>
                {{vertegenwoordiger.achternaam}}
              </td>
              <td>
                <AuLinkExternal href="mailto:{{vertegenwoordiger.e-mail}}">
                  {{vertegenwoordiger.e-mail}}
                </AuLinkExternal>
              </td>
              <td>
                {{#if vertegenwoordiger.telefoon}}
                  <AuLinkExternal href="tel:{{vertegenwoordiger.telefoon}}">
                    {{tel-format vertegenwoordiger.telefoon}}
                  </AuLinkExternal>
                {{else}}
                  -
                {{/if}}
              </td>
              <td>
                {{#if vertegenwoordiger.socialMedia}}
                  <AuLinkExternal href={{vertegenwoordiger.socialMedia}}>
                    {{vertegenwoordiger.socialMedia}}
                  </AuLinkExternal>
                {{else}}
                  -
                {{/if}}
              </td>
            </c.body>
          {{/if}}
        </t.content>
      </AuDataTable>
    </div>
  {{/if}}
{{/let}}