{{page-title "Verenigingen"}}

<AuApp>
  <AuMainHeader
    @appTitle="Verenigingen"
    @brandLink={{unless
      this.session.isAuthenticated
      "https://www.vlaanderen.be/nl"
    }}
    @homeRoute="index"
  >
    <li class="au-c-list-horizontal__item">
      <AuLinkExternal
        href="https://abb-vlaanderen.gitbook.io/handleiding-loket/veelgestelde-vragen"
        @skin="secondary"
      >
        <AuIcon @icon="question-circle" @alignment="left" />
        Help
      </AuLinkExternal>
    </li>
  </AuMainHeader>

  <AuMainContainer class="au-u-flex" as |m|>
    <m.content @scroll={{true}}>
      <AuBodyContainer @scroll={{true}}>
        {{outlet}}
      </AuBodyContainer>
    </m.content>
  </AuMainContainer>

</AuApp>

<AuModalContainer />
<AuToaster />