{{#if this.showEnvironment}}
  {{page-title (concat this.environmentName)}}
{{/if}}
<AuApp>
  {{#if this.showEnvironment}}
    <EnvironmentBanner
      @applicationName={{this.appTitle}}
      @environmentName={{this.environmentName}}
      @skin={{this.environmentInfo.skin}}
      @message='Dit is de <strong>{{this.environmentInfo.title}}</strong> van de Verenigingenapp met fictieve en testgegevens. De productieomgeving met de echte data vind je op <a href="https://verenigingen.lokaalbestuur.vlaanderen.be/" title={{this.appTitle}} rel="tag">https://verenigingen.lokaalbestuur.vlaanderen.be/</a>.'
    />
  {{/if}}
  <Header />
  {{#if this.session.isAuthenticated}}
    <Shared::BreadCrumb />
  {{/if}}
  <AnnouncementBanner />
  <AuMainContainer class="au-u-flex" as |m|>
    <m.content @scroll={{true}}>
      <AuBodyContainer @scroll={{true}}>
        {{outlet}}
      </AuBodyContainer>
    </m.content>
  </AuMainContainer>
</AuApp>
<AuModalContainer />
<AuToaster />