{{page-title "Verenigingen"}}


<AuMainContainer as |m|>
  <m.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content au-o-box">
        <div class="au-o-grid au-o-grid--small">
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuHeading @level="2" @skin="5">Filter verenigingen</AuHeading>
            <AuHr />
            <AuInput
              class="au-u-margin-bottom au-u-margin-top"
              placeholder="Zoek op vCode, naam, hoofdactiviteit of contactpersoon"
              @icon="search"
              @iconAlignment="right"
              @width="block"
              value={{this.search}}
              oninput={{perform
                this.updateAssociationSearch
                value="target.value"
              }}
            />
            <Filters::ActivitySelect
              @onChange={{this.setActivities}}
              @selected={{this.selectedActivities}}
            />
            <Filters::PostalSelect
              @onChange={{this.setPostalCodes}}
              @selected={{this.selectedPostalCodes}}
            />
            <Filters::OrganizationStatusSelect
              @onChange={{this.setOrganizationStatus}}
              @selected={{this.selectedOrganizationStatus}}
            />
            <Filters::TypeSelect
              @onChange={{this.setTypes}}
              @selected={{this.selectedTypes}}
            />

            {{#if (eq this.ENVIRONMENT_NAME "DEV")}}
              {{! ONLY SHOW ON DEV FOR NOW }}
              <Filters::TargetAudienceSelect
                @onChange={{this.setTargetAudiences}}
                @selected={{this.selectedTargetAudiences}}
              />
            {{/if}}

            {{! This forces a new component instance when the start and end QPs change
                It works in a similar way as "Key blocks" in Svelte: https://svelte.dev/docs/logic-blocks#key
            }}
            {{#key (concat this.start this.end)}}
              <Filters::DateRange
                @start={{this.start}}
                @end={{this.end}}
                @onChange={{this.setDates}}
                class="au-u-margin-top"
              />
            {{/key}}
          </div>
          <div class="au-o-grid__item">
            <AuButton @skin="link" type="reset" onclick={{this.resetFilters}}>
              <AuIcon @icon="cross" @alignment="left" />
              Herstel alle filters
            </AuButton>
          </div>
        </div>
      </div>
    </div>
  </m.sidebar>

  <m.content @scroll={{true}}>
    <AuDataTable
      @content={{this.associations}}
      @isLoading={{this.isLoading}}
      @page={{this.page}}
      @sort={{this.sort}}
      @size={{this.size}}
      @noDataMessage="Er werden geen zoekresultaten gevonden. Kijk na op spelfouten, of probeer een andere zoekopdracht."
      as |t|
    >
      <t.menu>
        <section class="au-o-box au-o-flow au-o-flow--large">
          <div class="au-u-1-1">
            <div
              class="au-u-flex au-u-flex--between au-u-flex--vertical-center"
            >
              <AuHeading @level="1" @skin="3">
                <span>Verenigingen</span>
              </AuHeading>

              <AuFileCard
                @filename={{@model.exportFile.name}}
                @downloadLink={{@model.exportFile.downloadLink}}
                @created= {{@model.exportFile.created}}
              />

            </div>
            <AuHr />
            <AuHeading @level="1" @skin="5">
              {{this.associations.meta.count}}
              Resultaten
            </AuHeading>
          </div>
        </section>

      </t.menu>
      <t.content class="au-c-data-table__table--small" as |c|>
        <c.header>
          <AuDataTableThSortable
            @field="name"
            @currentSorting={{this.sort}}
            @label="Naam"
            @class="data-table__header-title"
          />
          <AuDataTableThSortable
            @field="primarySite.address.postcode"
            @currentSorting={{this.sort}}
            @label="Postcode"
            @class="data-table__header-title"
          />
          <th class="data-table__header-title">Hoofdactiviteiten</th>
          <AuDataTableThSortable
            @field="identifiers.structured-identifier.local-id"
            @currentSorting={{this.sort}}
            @label="vCode"
            @class="data-table__header-title"
          />
          <AuDataTableThSortable
            @field="targetAudience.minimumLeeftijd,targetAudience.maximumLeeftijd"
            @currentSorting={{this.sort}}
            @label="Leeftijd"
            @class="data-table__header-title"
          />
          <AuDataTableThSortable
            @field="recognitions.validityPeriod.endTime"
            @currentSorting={{this.sort}}
            @label="Erkenning"
            @class="data-table__header-title"
          />
          {{! <th class="data-table__header-title">Erkenning</th> }}
        </c.header>
        {{#if this.hasErrored}}
          <TableMessage::Error />
        {{else if this.hasNoResults}}
          <TableMessage>
            <p>
              Er werden geen zoekresultaten gevonden. Kijk na op spelfouten, of
              probeer een andere zoekopdracht. Indien een organisatie ontbreekt,
              meldt dit aan
              <a
                class="au-c-link"
                href="mailto:{{config 'contactEmail'}}"
              >{{config "contactEmail"}}</a>
              of
              <AuLink @route="administrative-units.new">maak een organisatie
                aan.</AuLink>
            </p>
          </TableMessage>
        {{else}}
          <c.body as |association|>
            <td>
              <LinkTo
                class="au-c-link"
                @model={{association.id}}
                @route="association"
              >
                {{association.name}}
              </LinkTo>
              {{#if (is-new-association association)}}
                <AuPill
                  @skin="success"
                  class="au-u-margin-left-tight"
                >Nieuw</AuPill>
              {{/if}}
            </td>
            <td>
              {{association.primarySite.address.postcode}}
            </td>
            <td>
              {{#each association.activities as |activity index|}}
                {{activity.prefLabel}}{{#unless
                  (last-index index association.activities)
                }},{{/unless}}
              {{else}}
                {{association.activities.prefLabel}}
              {{/each}}
            </td>
            <td>

              {{#each association.identifiers as |identifier|}}
                {{#if (eq identifier.idName "vCode")}}
                  {{get identifier.structuredIdentifier "localId"}}
                {{/if}}
              {{else}}
                {{association.identifiers.structuredIdentifier.localId}}
              {{/each}}
            </td>
            <td>
              {{#if association.targetAudience}}
                {{association.targetAudience.minimumLeeftijd}}
                -
                {{association.targetAudience.maximumLeeftijd}}
              {{/if}}
            </td>
            <td>
              <Recognition::Status @association={{association}} />
            </td>
          </c.body>
        {{/if}}
      </t.content>
    </AuDataTable>
  </m.content>
</AuMainContainer>