<AuMainContainer as |m|>
  <m.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content au-o-box">
        <Filter />
      </div>
    </div>
  </m.sidebar>

  <m.content @scroll={{true}}>
    <div class="au-d-component-block au-d-component-block--overflow">
      <AuDataTable
        @content={{@model}}
        @isLoading={{this.showTableLoader}}
        @page={{this.page}}
        @size={{this.size}}
        as |t|
      >
        <t.content class="au-c-data-table__table--small" as |c|>
          <c.header>
            <AuDataTableThSortable
              @field="naam"
              @currentSorting={{this.sort}}
              @label="Naam"
              @class="data-table__header-title"
            />
            <AuDataTableThSortable
              @field="postcode"
              @currentSorting={{this.sort}}
              @label="Postcode"
              @class="data-table__header-title"
            />
            <AuDataTableThSortable
              @field="hoofdactiviteiten"
              @currentSorting={{this.sort}}
              @label="Hoofdactiviteiten"
              @class="data-table__header-title"
            />
            <AuDataTableThSortable
              @field="vCode"
              @currentSorting={{this.sort}}
              @label="vCode"
              @class="data-table__header-title"
            />
            <AuDataTableThSortable
              @field="erkenning"
              @currentSorting={{this.sort}}
              @label="Erkenning"
              @class="data-table__header-title"
            />
            <AuDataTableThSortable
              @field="leeftijd"
              @currentSorting={{this.sort}}
              @label="Leeftijd"
              @class="data-table__header-title"
            />
          </c.header>
          {{#if this.hasErrored}}
            <TableMessage::Error />
          {{else if this.hasNoResults}}
            <TableMessage>
              <p>
                Er werden geen zoekresultaten gevonden. Kijk na op spelfouten,
                of probeer een andere zoekopdracht. Indien een organisatie
                ontbreekt, meldt dit aan
                <a
                  class="au-c-link"
                  href="mailto:{{config 'contactEmail'}}"
                >{{config "contactEmail"}}</a>
                of
                <AuLink @route="administrative-units.new">maak een organisatie
                  aan.</AuLink>
              </p>
            </TableMessage>
          {{else}}
            <c.body as |association|>
              <td>
                <LinkTo
                  class="au-c-link"
                  @model={{association.id}}
                  @route="association"
                >
                  {{association.name}}
                </LinkTo>
              </td>
              <td>
                {{association.primarySite.address.postcode}}
              </td>
              {{#if this.modelHasOnlyWorshipAdministrativeUnits}}
                <td>{{association.recognized_worship_type_name}}</td>
              {{/if}}
              <td>{{association.province}}</td>
              <td>
                {{#each association.identifiers as |identifier|}}
                    {{this.getVcode identifier}}
                {{/each}}
              </td>
              <td>
                {{#if association.status}}
                  <OrganizationStatus
                    @id={{association.status_id}}
                    @label={{association.status}}
                  />
                {{/if}}
              </td>
            </c.body>
          {{/if}}
        </t.content>
      </AuDataTable>
    </div>
  </m.content>
</AuMainContainer>