<AuMainContainer as |m|>
  <m.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content au-o-box">
        <Filter
          @updateSearch={{this.updateAssociationSearch}}
          @search={{this.search}}
        />
      </div>
    </div>
  </m.sidebar>

  <m.content @scroll={{true}}>
    <div class="au-d-component-block au-d-component-block--overflow">
      <div class="au-u-padding">
        <AuHeading @level="1" @skin="3">Verenigingen</AuHeading>
        <AuHr />
        <AuHeading @level="1" @skin="5">{{this.model.meta.count}}
          Resultaten</AuHeading>
      </div>
      <AuDataTable
        @content={{this.associations}}
        @isLoading={{this.isLoading}}
        @page={{this.page}}
        @sort={{this.sort}}
        @size={{this.size}}
        @noDataMessage="Er werden geen zoekresultaten gevonden. Kijk na op spelfouten, of probeer een andere zoekopdracht."
        as |t|
      >
        <t.content class="au-c-data-table__table--small" as |c|>
          <c.header>
            <AuDataTableThSortable
              @field="name"
              @currentSorting={{this.sort}}
              @label="Naam"
              @class="data-table__header-title"
            />
            <AuDataTableThSortable
              @field="primarySite.address.postcode"
              @currentSorting={{this.sort}}
              @label="Postcode"
              @class="data-table__header-title"
            />
            <th class="data-table__header-title">Hoofdactiviteiten</th>
            <AuDataTableThSortable
              @field="identifiers.structured-identifier.local-id"
              @currentSorting={{this.sort}}
              @label="vCode"
              @class="data-table__header-title"
            />
            <AuDataTableThSortable
              @field="leeftijd"
              @currentSorting={{this.sort}}
              @label="Leeftijd"
              @class="data-table__header-title"
            />
            <AuDataTableThSortable
              @field="organization-status"
              @currentSorting={{this.sort}}
              @label="Erkenning"
              @class="data-table__header-title"
            />
          </c.header>
          {{#if this.hasErrored}}
            <TableMessage::Error />
          {{else if this.hasNoResults}}
            <TableMessage>
              <p>
                Er werden geen zoekresultaten gevonden. Kijk na op spelfouten,
                of probeer een andere zoekopdracht. Indien een organisatie
                ontbreekt, meldt dit aan
                <a
                  class="au-c-link"
                  href="mailto:{{config 'contactEmail'}}"
                >{{config "contactEmail"}}</a>
                of
                <AuLink @route="administrative-units.new">maak een organisatie
                  aan.</AuLink>
              </p>
            </TableMessage>
          {{else}}
            <c.body as |association|>
              <td>
                <LinkTo
                  class="au-c-link"
                  @model={{association.id}}
                  @route="association"
                >
                  {{association.name}}
                </LinkTo>
              </td>
              <td>
                {{association.primarySite.address.postcode}}
              </td>
              <td>
                {{#each association.activities as |activity index|}}
                  {{activity.label}}{{#unless
                    (last-index index association.activities)
                  }},{{/unless}}
                {{/each}}
              </td>
              <td>
                {{#each association.identifiers as |identifier|}}
                  {{#if (eq identifier.idName "vCode")}}
                    {{get identifier.structuredIdentifier "localId"}}
                  {{/if}}
                {{/each}}
              </td>
              <td>
                18 - 65
              </td>
              <td>
                {{#if (eq association.organizationStatus.label "Erkend")}}
                  <AuPill
                    @skin="success"
                  >{{association.organizationStatus.label}}</AuPill>
                {{else if
                  (eq association.organizationStatus.label "Niet erkend")
                }}
                  <AuPill
                    @skin="warning"
                  >{{association.organizationStatus.label}}</AuPill>
                {{else}}
                  <AuPill @skin="warning">Niet erkend</AuPill>
                {{/if}}
              </td>
            </c.body>
          {{/if}}
        </t.content>
      </AuDataTable>
    </div>
  </m.content>
</AuMainContainer>