<AuMainContainer as |m|>
  <m.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content au-o-box">
        <div class="au-o-grid au-o-grid--small">
          <div class="au-o-grid__item au-u-1-2@small au-u-1-1@medium">
            <AuHeading @level="2" @skin="5">Filter verenigingen</AuHeading>
            <AuHr />
            <AuInput
              class="au-u-margin-bottom au-u-margin-top"
              placeholder="Zoek op vCode, naam, hoofdactiviteit of contactpersoon"
              @icon="search"
              @iconAlignment="right"
              @width="block"
              value={{this.search}}
              oninput={{perform
                this.updateAssociationSearch
                value="target.value"
              }}
            />
            <ActivitySelect
              @onChange={{this.setActivities}}
              @selected={{this.selectedActivities}}
            />
            <PostalSelect
              @onChange={{this.setPostalCodes}}
              @selected={{this.selectedPostalCodes}}
            />
            <OrganizationStatusSelect
              @onChange={{this.setOrganizationStatus}}
              @selected={{this.selectedOrganizationStatus}}
            />
          </div>
          <div class="au-o-grid__item">
            <AuButton @skin="link" type="reset" onclick={{this.resetFilters}}>
              <AuIcon @icon="cross" @alignment="left" />
              Herstel alle filters
            </AuButton>
          </div>
        </div>
      </div>
    </div>
  </m.sidebar>

  <m.content @scroll={{true}}>
    <div class="au-d-component-block au-d-component-block--overflow">
      <div class="au-u-padding">
        <AuHeading @level="1" @skin="3">Verenigingen</AuHeading>
        <AuHr />
        <AuHeading @level="1" @skin="5">{{this.model.meta.count}}
          Resultaten</AuHeading>
      </div>
      <AuDataTable
        @content={{this.associations}}
        @isLoading={{this.isLoading}}
        @page={{this.page}}
        @sort={{this.sort}}
        @size={{this.size}}
        @noDataMessage="Er werden geen zoekresultaten gevonden. Kijk na op spelfouten, of probeer een andere zoekopdracht."
        as |t|
      >
        <t.content class="au-c-data-table__table--small" as |c|>
          <c.header>
            <AuDataTableThSortable
              @field="name"
              @currentSorting={{this.sort}}
              @label="Naam"
              @class="data-table__header-title"
            />
            <AuDataTableThSortable
              @field="primarySite.address.postcode"
              @currentSorting={{this.sort}}
              @label="Postcode"
              @class="data-table__header-title"
            />
            <th class="data-table__header-title">Hoofdactiviteiten</th>
            <AuDataTableThSortable
              @field="identifiers.structured-identifier.local-id"
              @currentSorting={{this.sort}}
              @label="vCode"
              @class="data-table__header-title"
            />
            <AuDataTableThSortable
              @field="targetAudience.minimumLeeftijd,targetAudience.maximumLeeftijd"
              @currentSorting={{this.sort}}
              @label="Leeftijd"
              @class="data-table__header-title"
            />
            <AuDataTableThSortable
              @field="organization-status"
              @currentSorting={{this.sort}}
              @label="Erkenning"
              @class="data-table__header-title"
            />
          </c.header>
          {{#if this.hasErrored}}
            <TableMessage::Error />
          {{else if this.hasNoResults}}
            <TableMessage>
              <p>
                Er werden geen zoekresultaten gevonden. Kijk na op spelfouten,
                of probeer een andere zoekopdracht. Indien een organisatie
                ontbreekt, meldt dit aan
                <a
                  class="au-c-link"
                  href="mailto:{{config 'contactEmail'}}"
                >{{config "contactEmail"}}</a>
                of
                <AuLink @route="administrative-units.new">maak een organisatie
                  aan.</AuLink>
              </p>
            </TableMessage>
          {{else}}
            <c.body as |association|>
              <td>
                <LinkTo
                  class="au-c-link"
                  @model={{association.id}}
                  @route="association"
                >
                  {{association.name}}
                </LinkTo>
              </td>
              <td>
                {{association.primarySite.address.postcode}}
              </td>
              <td>
                {{#each association.activities as |activity index|}}
                  {{activity.label}}{{#unless
                    (last-index index association.activities)
                  }},{{/unless}}
                {{/each}}
              </td>
              <td>
                {{#each association.identifiers as |identifier|}}
                  {{#if (eq identifier.idName "vCode")}}
                    {{get identifier.structuredIdentifier "localId"}}
                  {{/if}}
                {{/each}}
              </td>
              <td>
                {{association.targetAudience.minimumLeeftijd}}
                -
                {{association.targetAudience.maximumLeeftijd}}
              </td>
              <td>
                {{#if (eq association.organizationStatus.label "Erkend")}}
                  <AuPill
                    @skin="success"
                  >{{association.organizationStatus.label}}</AuPill>
                {{else if
                  (eq association.organizationStatus.label "Niet erkend")
                }}
                  <AuPill
                    @skin="warning"
                  >{{association.organizationStatus.label}}</AuPill>
                {{else}}
                  <AuPill @skin="warning">Niet erkend</AuPill>
                {{/if}}
              </td>
            </c.body>
          {{/if}}
        </t.content>
      </AuDataTable>
    </div>
  </m.content>
</AuMainContainer>